.dst-image-field-current-image-container {
    width: 160px; 
    height: 120px; 
    position: relative;    
}

.dst-image-field-current-image-container-header {
    width: 160px; 
    height: 25px; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.2);  
    overflow: hidden; 
    position: absolute; 
    z-index: 2; 
    top: 0; 
    left: 0;
}

.dst-image-field-link {
    float: right; 
    width: 27px; 
    height: 20px; 
    padding-top: 3px; 
    display: block; 
}

.dst-image-field-current-image {
    width: 160px; 
    height: 120px; 
    position: absolute; 
    z-index: 1; 
    top: 0; 
    left: 0;
}